.news {
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  
    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
  
        strong {
          display: block;
        }
      }
    }
  
    p {
      margin-top: 10px;
  
      a {
        text-decoration: none;
        color: #007bff;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .carousel {
    margin-top: 20px;
  }
  
  .row {
    margin-bottom: 20px;
  }