.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ddd;

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;

        .slide {
            min-width: 100%;
            box-sizing: border-box;
            img {
                width: 100%;
                display: block;
            }
        }
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1000;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
}
